body {
	font-family: "courier new", monospace;
	background-color: #f9f9f9;
	
}

.tab { margin-left: 40px; }


/* For larger screens (laptops, desktops) */
@media only screen and (min-width: 768px) {

	Body {
		margin-top: 40px;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 40px;
	}
       
}

@media only screen and (max-width: 767px) {
   
	Body {
		margin-left: 8%;
		margin-right: 8%;
		margin-bottom: 40px;
		margin-top: 40px;
	}

}
