/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "courier new", Courier, monospace;
    cursor: url('finger.png'), auto;
    color: #333333;
    background-color: #FAFAFA;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
}

h1 {
    font-size: 60px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

header {
    color: black;
    text-align: center;
    padding-top: 30px; /* Adjust the padding as needed */
}

main {
    margin-top: 20px; /* Adjust the margin as needed */
}

.container {
    display: flex;
    justify-content: center;
}

#portfolio {
    max-width: 600px; /* Adjust the maximum width as desired */
    width: 100%;
    margin: 0 auto;
    padding: 20px 0; /* Adjust the padding as needed */
}

.portfolio-item {
    display: flex;
    align-items: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Optional: Add some spacing between the image and text */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    /* Adjustments for mobile devices */
    header {
        padding: 10px;
    }

    main {
        margin-top: 20px; /* Adjust the margin as needed */
    }

    #portfolio {
        padding: 10px;
        max-width: none;
    }
}
